{% load static %}

<!-- Search Bar -->
<div class="panel panel-default">
  <div class="panel-body">
    <form method="get" action="{% url 'bloodGroup' %}" class="search-form">
      <div class="panel-body text-center">
        <h4 style="color: #149ddd">All Members ({{ page_obj.paginator.count }})</h4>
      </div>
      <div class="input-group-custom">

        <input
          type="text"
          name="query"
          placeholder="Search by blood group"
          class="form-control"
          {% if query %}
          value="{{ query }}"
          {% endif %}
        />
        <div class="input-group-append">
          <button type="submit" class="btn btn-primary">Search</button>
        </div>
      </div>
    </form>
  </div>
</div>
<br />

<div class="grid-container">
  {% for member in page_obj %}

  <div class="member-card">
    {% if member.profile_pic %}
    <img src="{{ member.profile_pic.url }}"  class="card-img-top member-card-image"  alt="Profile Picture"/>
    {% else %}
    <img src="{% static 'images/unknown_profile_pic.jpg' %}"  class="card-img-top member-card-image"  alt="Profile Picture"/>
    {% endif %}
    <hr />
    <div class="member-details" onclick="window.location.href='{% url 'edit_member' member.id %}'">
      <h5 class="member-name">Member Name: {{ member.username }}</h5>
      <p class="member-email">Email: {{ member.email }}</p>
      <p class="member-phone">Phone: {{ member.phone }}</p>
      <p class="member-phone">Blood Group: {{ member.blood_group }}</p>
      <p class="member-amount">Amount: {{ member.fee_amount }}</p>
      <p class="member-fee">Fee Paid: {% if member.is_fee_paid %}&#10004;{% else %}&#10006;{% endif %}</p>
      <p class="member-active">Active: {% if member.is_active %}&#10004;{% else %}&#10006;{% endif %}</p>
      <p class="member-date">Date: {{ member.due_date }}</p>
      <p class="member-addedby">Added By: {{ member.added_by.email }}</p>
      <p class="member-markedpaid">Marked Paid: {{ member.marked_paid_by.email }}</p>

      <hr />
      <a
        class="btn delete-btn btn-user btn-block"
        href="{% url 'deleteMember' member.id %}"
        >Delete Member</a
      >
    </div>
  </div>
  {% endfor %}
</div>
{% if page_obj.has_other_pages %}
<div class="pagination">
  {% if page_obj.has_previous %}
  <a href="?page=1">First</a>
  <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
  {% endif %} {% for num in page_obj.paginator.page_range %}
  {% if page_obj.number == num %}
  <a class="active">{{ num }}</a>
  {% else %}
  <a href="?page={{ num }}">{{ num }}</a>
  {% endif %} {% endfor %} {% if page_obj.has_next %}
  <a href="?page={{ page_obj.next_page_number }}">Next</a>
  <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
  {% endif %}
</div>
{% endif %}
