
.container{
  max-width: 100% !important;
 }
 .grid-container {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 20px;
        }
  .all-member-cards{
    flex-direction: column;
  }

  .member-card {
      background-color: #f2f2f2;
      padding: 5px !important;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 255, 0.1);
      cursor: pointer;
  }

  .member-card h3 {
      margin-top: 0;
  }

  .member-card p {
      margin-bottom: 0;
  }

  .pagination {
      margin-top: 20px;
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
  }

  .pagination a {
    display: inline-block;
    padding: 8px 16px;
    margin: 0 4px;
    text-decoration: none;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: white;
    color: black;
  }

  .pagination .active {
    background-color: #149ddd;
    color: white;
  }
  .revenue-card {
    /* border: 2px solid black; */
    border-radius: 5px;
    background-color: white;
    color: black;
    padding: 10px;
    /* width: 300px; */
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.1);
    margin-bottom: 20px;
  }
  
  .card-header {
    text-align: center;
    margin-bottom: 10px;
  }
  
  .card-body {
    text-align: center;
  }
  
  .revenue-amount {
    font-size: 24px;
    font-weight: bold;
  }
  
  .revenue-description {
    text-align: center;
  }
  .member-card-image{
    height: 250px !important;
    object-fit: cover !important;
  }
  .member-card {
    display: flex;
    flex-direction: column;
    height: 100%; /* Make the card take the full height */
    background-color: white !important;
    color: #040b14 !important;
  }
  
  .member-details {
    flex-grow: 1; /* Make the member details div take remaining space */
    margin-bottom: 10px; /* Add some bottom margin */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer !important;

  }
  
  .delete-button-container {
    margin-top: auto; /* Push the container to the bottom */
  }
.search-form{
  display: flex;
  justify-content: space-between;
}
.input-group-custom{
  display: flex;
}
.form-control{
  height: 100% !important;
}

/* Revenue Card */
  .form-card {
  background-color: white;
  padding: 20px;
  border-radius: 4px;
  color: #040b14;
  box-shadow: 0 0 10px rgba(0, 0, 255, 0.1);
}

label {
  color: #040b14;
}

input[type="date"] {
  background-color: rgb(198 226 240);
  color: black;
  border: none;
  padding: 8px;
  border-radius: 4px;
  width: 100%;
}

button[type="submit"] {
  background-color: #149ddd;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
}
.fee_amount_input{
  width: 100%;
  border-radius: 5px;
  margin-bottom: 5px;
  border: 1px solid #149ddd;
  font-size: 15px;
}
.form-row-register{
  justify-content: space-between;
}

#accordionSidebar{
  position: fixed;
  background: #040b14;
}
main{
  background: #f5f8fd;
  margin-left: 14rem !important;
}


#hero {
    background-attachment: fixed !important;
}
#hero {
    /* width: 100%;
    height: 10vh; */
    /* background: url(../images/hero_bg.jpg) top center; */
    /* background-size: cover; */
    margin-bottom: 30px;
}
.hero_title{
  font-family: "Poppins", sans-serif;
    font-weight: 600 !important;
    padding-top: 5%;
    color: black !important;
}

.pl-20percent{
  padding-left: 20% !important;
}
.delete-btn{
  background-color: #149ddd !important;
  color: #ddd !important;
}
.delete-btn:hover{
  opacity: 0.7 !important;
}

.register-btn{
  background-color: #149ddd !important;
  color: #ddd !important;
}
.register-btn:hover{
  opacity: 0.7;
}

.sidebar-dark .nav-item .nav-link:active, .sidebar-dark .nav-item .nav-link:focus, .sidebar-dark .nav-item .nav-link:hover {
  color: #149ddd !important;
}
.delete-item.layout{
  width: 100%;
}
.layout__box {
  background-color: #f2f2f2 !important;
  color: #040b14 !important;
  box-shadow: 0 0 10px rgba(0, 0, 255, 0.1);
}
.layout__boxTitle a {
  color: #040b14 !important;
}
.delete-item.layout {
  background: #f5f8fd !important;
}
.del-btn--main {
  background-color: #149ddd !important;
  color: white !important;
  float: right;
}
.del-btn--main:hover {
  background-color: #040b14 !important;
}
.back_btn{
  color: #149ddd; font-size: 12px;
}
.back_btn:hover{
  color: #040b14 !important; 
  text-decoration: none !important;
}

.form-control-checkbox {
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 0;
  margin: 0;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control-checkbox:checked {
  background-color: #007bff;
  border-color: #007bff;
}

.form-control-checkbox:focus {
  outline: none;
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.table_thead{
  background: #149ddd;
  color: white;
}